@import "./normalize.css";

/*
 * Here's the deal.
 *
 * Use any rule once.
 *
 * */

html {
  font-size: 10px;
}

* {
  font-size: 1.8rem;
}

body {
  font-family: monospace;
  background-color: #181818;
  color: #eeeeee;
}

h1 {
  color: green;
}

#root {
  max-width: 90vw;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  #root {
    max-width: 60vw;
  }
}

.viewport {
}

.thread-list {
}

li:hover, .meta {
  color: turquoise;
}

.meta {
  margin: 0 0 3rem 0;
}

ul, pre, .meta p {
  margin: 0;
  padding: 0;
}

p.type, p.attachment {
  color: yellow;
}

p.attachment {
  margin-top: 1rem;
}

p.type {
  margin-bottom: 1rem;
}

pre {
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.hidden {
  display: none;
}

.text-after {
  margin-right: 3rem;
}

.align-right {
  text-align: right;
}

ul {
  overflow-y: auto;
}

footer {
  background-color: #323232;
  margin-top: auto;
  bottom: 0;
}

li {
  cursor: pointer;
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li.thread-active {
  background-color: #eeeeee;
  color: #181818;
}
